snippet ic i
%span.glyphicon
endsnippet
snippet ic-plus "icon plus" i
%span.glyphicon.glyphicon-plus
endsnippet
snippet ic-search "icon search" i
%span.glyphicon.glyphicon-search
endsnippet
snippet ic-save "icon save" i
%span.glyphicon.glyphicon-floppy-disk
endsnippet
