snippet ic "icon" i
%i.icon-
endsnippet
snippet ic-plus "icon plus" i
%i.icon-plus
endsnippet
snippet ic-search "icon search" i
%i.icon-search
endsnippet
snippet ic-save "icon save" i
%i.icon-floppy-disk
endsnippet
snippet ahjv "javascript voild link" i
%a{href: "javscript:void"}
endsnippet
